In [ ]:
# Task 1.1

nums = {i: "even" if i % 2 == 0 else "odd" for i in range(1,11) }
nums

{1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd',
 10: 'even'}

In [ ]:
# Task 1.2

fruits = {"apple": 1.2, "banana": 2.5, "orange": 3.0, "kiwi": 4.0}

filtered = {key: fruits[key] for key in fruits if fruits[key] > 2}

filtered

{'banana': 2.5, 'orange': 3.0, 'kiwi': 4.0}

In [ ]:
# Task 1.3

employees = [
    {"id": 101, "name": "Alice", "age": 30},
    {"id": 102, "name": "Bob", "age": 25},
    {"id": 103, "name": "Charlie", "age": 35},
]

mapped = {emp["id"]:emp["name"] for emp in employees}

mapped

{101: 'Alice', 102: 'Bob', 103: 'Charlie'}

In [ ]:
# Task 1.4

employees = [
    {"id": 101, "name": "Alice", "age": 30},
    {"id": 102, "name": "Bob", "age": 25},
    {"id": 103, "name": "Charlie", "age": 35},
]

mapped = {emp["id"]:emp["age"] for emp in employees if emp["age"] > 28}

mapped

{101: 30, 103: 35}