In [20]:
captain_america = {
    "name": "Steve Rogers 🦸‍♂️",
    "age": 100,
    "height": 185,
    "address": {"city": "Brooklyn", "country": "US"},
}


spiderman = {
    "name": "Peter Parker",
    "age": 18,
    "team_name": "Avengers",
    "team": ["Iron Man", "Thor", "Hulk", "Captain America"],
}

hulk = {
    "name": "Bruce Banner",
    "age": 35,
}

heroes = [captain_america, spiderman, hulk]

# Output
# Steve Rogers 🦸‍♂️ lives in Brooklyn
# Peter Parker location is Top Secret 🔒
# Bruce Banner location is Top Secret 🔒

for hero in heroes:
    city = hero.get("address", {}).get("city")

    print(
        f"{hero['name']} lives in {city}"
        if city
        else f"{hero['name']}'s location is Top Secret 🔒"
    )

# for hero in heroes:
#     try:
#         city = hero.get("address").get("city")
#         print(f"{hero["name"]} lives in {city}")
#     except:
#         print(f"{hero['name']}'s location is Top Secret 🔒")

Steve Rogers 🦸‍♂️ lives in Brooklyn
Peter Parker's location is Top Secret 🔒
Bruce Banner's location is Top Secret 🔒

In [ ]:
# Task 2.1

employees = [
    {"name": "Chelo", "experience": 2},
    {
        "name": "Diyali",
    },
    {
        "name": "Luvuyo",
    },
    {"name": "Jevan", "experience": 1},
]


for employee in employees:
    employee["experience"] = employee.get("experience", 0) + 1
print(employees)

[{'name': 'Chelo', 'experience': 3}, {'name': 'Diyali', 'experience': 1}, {'name': 'Luvuyo', 'experience': 1}, {'name': 'Jevan', 'experience': 2}]

In [ ]:
# Task 2.2
# Senior 5 or more, Mid-Level 3 to 5, Junior < 3
employees = [
    {"name": "Chelo", "experience": 4},
    {
        "name": "Diyali",
    },
    {
        "name": "Luvuyo",
    },
    {"name": "Jevan", "experience": 2},
]

for employee in employees:
    employee["experience"] = employee.get("experience", 0) + 1

    # Normal Way
    if employee["experience"] < 3:
        employee["status"] = "Junior"
    elif employee["experience"] < 5:
        employee["status"] = "Mid-Level"
    else:
        employee["status"] = "Senior"

    # # Ternary Way
    # employee["status"] = (
    #     "Junior"
    #     if employee["experience"] < 3
    #     else ("Mid-Level" if employee["experience"] < 5 else "Senior")
    # )

employees

# # Output
# employees = [
#     {"name": "Chelo", "experience": 5, "status": "Senior"},
#     {"name": "Diyali", "status": "Junior", "experience": 1},
#     {"name": "Luvuyo", "status": "Junior", "experience": 1},
#     {"name": "Jevan", "status": "Mid-Level", "experience": 3},
# ]

[{'name': 'Chelo', 'experience': 5, 'status': 'Senior'},
 {'name': 'Diyali', 'experience': 1, 'status': 'Junior'},
 {'name': 'Luvuyo', 'experience': 1, 'status': 'Junior'},
 {'name': 'Jevan', 'experience': 3, 'status': 'Mid-Level'}]